[Unit]
Description=AI_Accelelator_Hailo
After=graphical.target

[Service]
User={user}
Environment="DISPLAY=:0"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
WorkingDirectory={your-path}
ExecStart={your-path}/start.sh
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
